@import "nullstyle.scss";
@import "variables.scss";
@import "general.scss";
@import "mobile.scss";

//
//
//
//
//

body {
	font-family: Roboto, sans-serif;
	font-weight: normal;
	font-size: 18px;
	line-height: 1.5;
	color: $dark-gray;
	background: $black;
}

h1 {
	font-size: 60px;
	line-height: 90px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	padding: 0;

	@media (max-width: 979px) {
		font-size: 42px;
		line-height: 67.5px;

		@media (max-width: 718px) {
			font-size: 30px;
			line-height: 45px;
		}
	}
}

h2 {
	font-size: 38px;
	line-height: 57px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 31px;

	@media (max-width: 979px) {
		font-size: 28px;
		line-height: 42px;
		margin-bottom: 24px;

		@media (max-width: 718px) {
			font-size: 18px;
			line-height: 27px;
			margin-bottom: 16px;
		}
	}
}

//
//
//
//
//

header {
	position: relative;

	width: 100%;
	height: auto;

	&::before {
		position: absolute;
		width: 100%;
		height: 100%;

		background-image: url("../images/banner.png");
		background-position: center;
		background-size: cover;

		content: "";
	}
}

#page-description {
	position: relative;

	max-width: 1240px;
	height: auto;
	margin: 0 auto;
	padding: 0 20px;
}

.container {
	position: relative;

	max-width: 1200px;
	min-height: 750px;
	margin: 0 auto;
	padding: 200px 0;

	@media (max-width: 579px) {
		padding-top: 250px;
	}
}

.nav {
	position: absolute;
	top: 25px;

	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 25px;

	font-size: 11px;
	line-height: 16px;
	text-transform: uppercase;

	a {
		color: inherit;
	}

	img {
		height: 100%;
	}

	p {
		margin-right: 90px;
		margin-left: 16px;
		margin-top: 3px;
	}

	ul {
		display: block;
		margin-top: 3px;

		@media (max-width: 879px) {
			position: absolute;
			left: 0;
			top: 41px;

			display: block;
		}

		li {
			display: inline-block;
			margin-right: 24px;

			line-height: 13px;

			@media (max-width: 879px) {
				display: block;
				margin-bottom: 3px;
			}
		}
	}

	input {
		position: absolute;
		right: 0;

		width: 248px;
		height: 100%;
		padding: 5px 10px;
		border-radius: 50px;

		background: $dark;

		@media (max-width: 579px) {
			position: relative;
			width: 100%;
			left: 0;
			right: 0;
			top: 96px;
		}
	}
}

.form {
	position: relative;

	text-align: center;

	p {
		font-size: 16px;
		margin-bottom: 17px;

		span {
			display: inline-block;
		}
	}

	form {
		display: flex;
		max-width: 570px;
		margin: 0 auto;

		justify-content: space-between;
		flex-wrap: wrap;

		input {
			flex: 0 1 270px;

			min-height: 50px;
			margin-bottom: 1.5rem;
			padding-left: 20px;

			border: 2px solid $dark-gray;
			border-radius: 3px;

			color: $dark-gray;
			background: none;

			@media (max-width: 579px) {
				flex-grow: 1;
			}
		}

		button {
			width: 100%;
			padding: 20px 30px;
			border-radius: 5px;

			color: white;
			background: $green;
		}
	}
}
