// переменные цвета

$black: #08020d;
$gray: #e0e0e0;
$dark-gray: #cacaca;
$dark: #3c3b3d;
$green: #34c176;
$orange: #f89202;
$purpe: #5328a1;
$brawn: #95390c;

@mixin fw-bold {
	font-weight: bold;
}

@mixin tt-up {
	text-transform: uppercase;
}
// 

@font-face {
	font-family: Roboto, sans-serif;
	src: url("../fonts/Roboto/Roboto-Regular.ttf");
	font-weight: normal;
}

body {
	font-family: Roboto, sans-serif;
	font-size: 18px;
	line-height: 1.5;
	color: $dark-gray;
	background: $black;
}

h1 {
	font-size: 60px;
	line-height: 90px;
	@include fw-bold;
	@include tt-up;
}

h2 {
	font-size: 38px;
	line-height: 57px;
	@include fw-bold;
	@include tt-up;
}

@media (max-width: 414px) {
	h1 {
		font-size: 30px;
		line-height: 45px;
		@include fw-bold;
		@include tt-up;
	}
	
	h2 {
		font-size: 18px;
		line-height: 27px;
		@include fw-bold;
		@include tt-up;
	}
}